{% extends 'store/base.html' %}
{% block content %}

    <img src="{{product.picture.url}}" class="right" alt="picture" >
    <div>
        <h1>{{product.name}}</h1>
        <h2>{{product.sous_titre}}</h2>
        <h3>{{product.brand}}</h3>
    </div>
    <div>
        <p> {{product.description}} </p>
    </div>    


<!--<table>
    <tr>
        {% for pro in products %}
        <th>name</th>
        <td> {{ pro.name }}</td>
    </tr>
    <tr>
        <th>price</th>
        <td> {{ pro.price }}</td>
    </tr>
    <tr>
        <th>desc</th>
        <td> {{ pro.desc }}</td>
    </tr>
        {% endfor %}
      
    </table>      -->

{% endblock %}


 